[Unit]
Description=Go Mail Admin
After=syslog.target

[Service]
Type=simple
User=gomailadmin
ExecStart=/opt/go-mail-admin/go-mail-admin-with-gui-linux-amd64
SyslogIdentifier=go-mail-admin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3
EnvironmentFile=/etc/go-mail-admin/go-mail-admin.env

[Install]
WantedBy=multi-user.target