[Unit]
Description=Go Mail Admin
After=syslog.target

[Service]
Type=simple
User=gomailadmin
Group=gomailadmin
WorkingDirectory=/home/gomailadmin
ExecStart=/home/gomailadmin/go-mail-admin
SyslogIdentifier=go-mail-admin
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3
Environment="GOMAILADMIN_DB=vmail:vmailpassword@tcp(127.0.0.1:3306)/vmail"
Environment="GOMAILADMIN_ADDRESS=127.0.0.1"
Environment="GOMAILADMIN_PORT=3001"
Environment="GOMAILADMIN_AUTH_METHOD=Username"
Environment="GOMAILADMIN_AUTH_Username_Username=myusername"
Environment="GOMAILADMIN_AUTH_Username_Password=mypassword"

[Install]
WantedBy=multi-user.target